body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  height: 100vh;
}

#container {
  display: flex;
  width: 100%;
}

#side-panel {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

#side-panel h2 {
  margin-top: 0;
}

#rss-feed-list {
  list-style-type: none;
  padding: 0;
}

#rss-feed-list li {
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#rss-feed-list li img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

#rss-feed-list li.active {
  background-color: #555;
}

#main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

#audio-player-container {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

#episodes-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#episodes-table th,
#episodes-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#episodes-table th {
  background-color: #333;
  color: white;
}

audio {
  width: 100%;
  /* Ensure the audio player is fully visible */
  margin-top: 10px;
}